@font-face {
    font-family: "Sonic";
    src: url("./sonic_empire.eot");
    src: local("☺"), url("./sonic_empire.woff") format("woff"), url("./sonic_empire.ttf") format("truetype"),
        url("./sonic_empire.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}
